* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
body {
    width: 100%;
}
.App {
    width: 100%;
}
.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 100;
    .pages {
        display: flex;
        flex-direction: row;
        .linkto {
            font-size: 20px;
            text-decoration: none;
            margin: 15px 15px;
            color: $secondary;
            transition: ease-in .2s;
        }
        :hover {
            color: $primary;
        }
    }
    .registery {
        display: flex;
        flex-direction: row;
        .linkto {
            font-size: 20px;
            text-decoration: none;
            margin: 15px 10px;
            color: $secondary;
            transition: ease-in .2s;
            cursor: pointer;
        }
        :hover {
            color: $primary;
        }
    }
}
.footer {
    width: 100%;
    margin-top: 50px;
    background-color: $forfooter;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    .links {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .info {
            width: 200px;
            display: flex;
            flex-direction: column;
            a {
                text-decoration: none;
                transition: ease-in .2s;
            }
        }

    }
    .footer-bottom {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        a {
            text-decoration: none;
        }
    }
}
.signup,
.login {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: $light;
    a {
        text-decoration: none;
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        background-color: $light;
        .form {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    width: 100%;
    .homecontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        .wellcome {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            .text {
                display: flex;
                flex-direction: column;
                width: 40%;
                h3 {
                    font-size: 40px;
                    font-weight: 600;
                }
                p {
                    font-size: 25px;
                    color: $secondary;
                }
                .buttons {
                    display: flex;
                    flex-direction: row;
                }
                .social {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    border: 2px solid $primary;
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            img {
                margin: 20px 0;
                width: 500px;
            }
        }
        .statistics {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            height: 60px;
            .element {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .count {
                    font-size: 28px;
                    font-weight: 600;
                    color: $secondary;
                    margin-bottom: -10px;
                }
                .info-text {
                    font-size: 25px;
                    font-weight: 500;
                    color: $secondary;
                }
            }
        }
    }
}
.books {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 70px;
    min-height: 90vh;
    .header {
        display: flex;
        flex-direction: row;
        width: 89%;
        font-size: 30px;
        font-weight: 500;
        color: $primary;
        margin-bottom: 10px;
    }
    .book-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 50px;
        width: 90%;
        margin-top: 10px;
        justify-items: center;
    }
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background-color: white;
    padding: 15px;
    margin: 0 !important;
    .img {
        position: inherit;
        width: 100%;
        height: 180px;
        border-radius: 5px;
        .category {
            position: absolute;
            bottom: 10px;
            right: 10px;
            z-index: 10;
            opacity: 0.8;
        }
        .btn:hover {
            background-color: #0d6efd;
            border: 1px solid #0d6efd;
            cursor: default;
        }
        img {
            border-radius: 5px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .info {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
        a {
            text-decoration: none;
        }
        p {
            margin: 0 !important;
            padding: 0 !important;
        }
        .book-name {
            font-size: 20px;
            font-weight: 500;
            color: $dark;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .book-author {
            font-size: 15px;
            font-weight: 400;
            color: $secondary;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .book-summary {
            font-size: 13px;
            font-weight: 400;
            color: $secondary;
            margin-top: 10px !important;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .prices {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: end;
        margin-top: 15px;
        del {
            font-size: 15px;
            font-weight: 500;
            padding-bottom: 2px;
            margin-right: 5px;
            color: $secondary;
        }
        p {
            font-size: 20px;
            font-weight: 500;
            margin: 0 !important;
            margin: 0 !important;
            color: $primary;
        }
    }
    .events {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin: 10px;
        justify-content: space-between;
        .favorite {
            width: 38px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid $primary;
            img {
                height: 50%;
                width: 50%;
            }
        }
        .favorited {
            width: 38px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid $primary;
            background-color: $primary;
            img {
                height: 50%;
                width: 50%;
            }
        }
    }
}
.admin {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        .image {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 100px;
            border-radius: 5px;
            justify-content: start;
            .del-img {
                position: absolute;
                display: flex;
                align-content: center;
                justify-content: center;
                right: 10px;
                top: 10px;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                cursor: pointer;
            }
            .image-container {
                width: 25%;
                height: 100%;
                border-radius: 5px 0px 0px 5px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px 0px 0px 5px;
                }
            }
            .link {
                margin: 0px;
                padding: 0px;
                margin-left: 15px;
                width: 70%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}
.cart,
.favoritep {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 70px;
    min-height: 90vh;
    .header {
        display: flex;
        flex-direction: row;
        width: 89%;
        font-size: 30px;
        font-weight: 500;
        color: $primary;
        margin-bottom: 10px;
    }
    .cart-cards,
    .fav-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 50px;
        width: 90%;
        margin-top: 10px;
        justify-items: center;
    }
}
.bookedit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 70px;
    min-height: 90vh;
    .buttons {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    table {
        border-collapse: collapse;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        width: 90%;
        margin: 0 auto;
        position: relative;
        .table100-head-book {
            height: 60px;
            background: $primary;
            th {
                color: white;
            }
            .column1 {
                width: 60px;
                text-align: center;
            }
            .column2 {
                width: 200px;
                text-align: center;
            }
            .column3 {
                width: 200px;
                text-align: center;
            }
            .column4 {
                width: 60px;
                text-align: center;
            }
            .column5 {
                width: 200px;
                text-align: center;
            }
        }
        .table100-body-book {
            td {
                color: gray;
                font-weight: 400;
            }
            .record1 {
                width: 60px;
                text-align: center;
            }
            .record2 {
                width: 200px;
                text-align: center;
            }
            .record3 {
                width: 200px;
                text-align: center;
            }
            .record4 {
                width: 60px;
                text-align: center;
            }
            .record5 {
                width: 200px;
                text-align: center;
            }
        }
        .table100-body-book:nth-child(odd) {
            background-color: $light;
        }
        .table100-body-book:nth-child(even) {
            background-color: white;
        }
        .table100-body-book:hover {
            background-color: #dfdfdf;
        }
    }
    .bookmodal{
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 200;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .bookform{
            display: flex;
            position: relative;
            justify-content: center;
            width: 30%;
            height: 100%;
            background-color: white;
            border: 1px solid $light;
            .closemodal {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 30px;
                height: 30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: $light;
                border: 1px solid $secondary;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .form {
                margin-top: 50px;
                margin-bottom: 50px;
                width: 90%;
                height: 560px;
                display: flex;
                flex-direction: column;
                .imagediv{
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                    height: 80px;
                    border-radius: 5px;
                    .del-img{
                        position: absolute;
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        right: 5px;
                        top: 5px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                    .img{
                        width: 30%;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 5px 0 0 5px;
                        }
                    }
                    .info{
                        margin-right: 10px;
                        display: flex;
                        align-items: center;
                        width: 60%;
                        height: 100%;
                        a{
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        
                    }
                }
            }
        }
    }
    
}
.categoryedit {
    position: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 70px;
    min-height: 90vh;
    .categorymodal {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 200;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .categoryform {
            display: flex;
            position: relative;
            justify-content: center;
            width: 30%;
            height: 100%;
            background-color: white;
            border: 1px solid $light;
            .closemodal {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 30px;
                height: 30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: $light;
                border: 1px solid $secondary;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .form {
                margin-top: 50px;
                margin-bottom: 50px;
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
    .buttons {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    table {
        border-collapse: collapse;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        width: 90%;
        margin: 0 auto;
        position: relative;
        .table100-head {
            height: 60px;
            background: $primary;
            th {
                color: white;
            }
            .column1 {
                width: 60px;
                text-align: center;
            }
            .column2 {
                width: 400px;
                text-align: center;
            }
            .column3 {
                width: 200px;
                text-align: center;
            }
        }
        .table100-body {
            td {
                color: gray;
                font-weight: 400;
            }
            .record1 {
                width: 60px;
                text-align: center;
            }
            .record2 {
                width: 400px;
                text-align: center;
            }
            .record3 {
                width: 200px;
                text-align: center;
            }
        }
        .table100-body:nth-child(odd) {
            background-color: $light;
        }
        .table100-body:nth-child(even) {
            background-color: white;
        }
        .table100-body:hover {
            background-color: #dfdfdf;
        }
    }
}